<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("home.sample_rails") , "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home.name"), "home" %></li>
        <li><%= link_to t("help.name"), "help" %></li>
        <li><%= link_to t("user.name"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
